@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=InaiMathi&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu-list,
.last-name {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #3c3a39;
  padding: 40px;
  padding-bottom: 10px;
}

a:hover .social-icons {
  color: #ff6b00;
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.navbar i {
  color: #fff;
}

.mobile-container {
  background-color: #1c1a19;
  height: 650px;
}

.info {
  padding: 80px 24px 120px 24px;
}

.intro {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 56px;
  color: #ff6b00;
}

.skill {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.bio {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.social-icons ul {
  display: flex;
  padding-left: 0;
}

.socials a {
  color: #fff;
  list-style: none;
  margin-inline: 10px;
  margin-left: 0;
  font-size: larger;
  cursor: pointer;
}

.social-icons li img:hover {
  color: #ff6b00;
}

.first-page-deco-img {
  background-image: url('images/Illustration.png');
  background-repeat: no-repeat;
  height: 300px;
  margin-top: -320px;
  background-position: right;
  padding-right: 0;
}

.recent-works {
  padding: 120px 24px 120px 24px;
  display: grid;
  grid-template-columns: 1fr;
}

.recent-works h1 {
  color: #1c1a19;
  font-family: 'crete Round', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.gymnast {
  background-image: url('images/pic.png');
  background-repeat: no-repeat;
  height: 237px;
  margin-top: 80px;
}

.recent-works h2 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #091e42;
  font-weight: 400;
}

.recent-works p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #091e42;
}

.languages {
  margin-left: -5px;
}

.languages ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.works-btn {
  padding: 10px 12px 10px 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #091e42;
  background-color: #fff;
  border: 1px solid;
  border-color: #8993a4;
  margin-inline: 2px;
}

.see,
.resume {
  padding: 10px 12px 10px 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 17px;
  color: #fff;
  background-color: #ff6b00;
  border: none;
}

.projects-background {
  background-image: url('images/projects-background.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 370px;
  margin-top: 24px;
}

.background {
  padding: 62px 13px 1px 13px;
}

.projects-background h2 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #fff;
}

.projects-background .para {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}

.project-btn {
  margin-left: -10px;
}

.project-btn ul,
li {
  display: flex;
  margin-inline: 5px;
  padding-left: 0;
}

.projects-btn {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  padding: 10px 12px 10px 12px;
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
}

.projects-background li {
  list-style: none;
}

.see-project {
  width: 327px;
  background-color: #ff6b00;
  border: none;
  padding: 20px;
  font-family: 'Inter' Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 17px;
  color: #fff;
  margin-top: -10px;
}

.sees-project {
  width: 327px;
  background-color: #ff6b00;
  border: none;
  padding: 20px;
  font-family: 'Inter' Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 17px;
  color: #fff;
  margin-top: -10px;
}

.About {
  background-color: #1c1a19;
  margin-top: 50px;
  padding: 50px 24px 50px 24px;
}

.About h1 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-size: 72px;
  color: #ff6b00;
  margin-bottom: 10px;
  font-weight: 400;
}

.About p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #f4f5f7;
  margin-bottom: 40px;
}

.deco-img {
  background-image: url("images/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  height: 258px;
  margin-right: -23px;
  margin-top: -40px;
  background-position: right;
}

.myUL li {
  margin-top: 100px;
  justify-content: center;
  color: #fff;
  font-family: 'InaiMathi', Arial, Helvetica, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 22px;
  margin-left: -45px;
}

.myUL1 li {
  justify-content: center;
  margin-bottom: 40px;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-left: -45px;
}

.myUL2 li {
  justify-content: center;
  margin-bottom: 40px;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-left: -45px;
}

.Skills,
.framework {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 32px;
  color: #fff;
  margin-left: -45px;
}

.myUL-frameworks li,
.myUL-skills li {
  justify-content: center;
}








.horizontal {
  border: 1px solid #dfe1e6;
  margin-top: -40px;
}

.social-icon ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social i {
  color: #505f79;
  list-style: none;
  margin-inline: 7px;
  font-size: x-large;
}

.fieldset {
  border: none;
}

.line {
  margin-top: 50px;
  height: 5px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    margin-right: 100px;
  }

  .menu {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-inline: 10px;
  }

  .info {
    display: flex;
  }

  .intro1 {
    width: 40%;
    margin-left: 50px;
  }

  .intro {
    font-size: 72px;
  }

  .skill {
    font-size: 32px;
    margin-top: -50px;
  }

  .bio {
    font-size: 20px;
  }

  .social-icons {
    order: -1;
  }

  .social-icons ul {
    display: inline-block;
    padding-top: 150px;
    margin-left: 30px;
  }

  .socials {
    margin-block: 20px;
  }

  .mobile-container {
    height: 850px;
  }

  .second-img {
    background-image: url('images/Illustration-header@2x.png');
    background-repeat: no-repeat;
    height: 768px;
    margin-top: -46%;
    background-position: right;
    background-size: 39%;
  }

  .recent-works {
    padding: 250px 124px 100px 124px;
  }

  .see {
    height: 50px;
    width: 30%;
  }

  .grid {
    display: grid;
    grid-template-columns: 1.6fr 1.3fr;
  }

  .grid h2 {
    padding-top: 45px;
    font-size: 40px;
  }

  .grid p {
    font-size: 20px;
  }

  .gymnast {
    background-image: url('images/gymnast.png');
    height: 448px;
  }

  .flex {
    display: flex;
    flex: 1;
  }

  .hor {
    flex-grow: 1;
    height: 0;
  }

  .flex h1 {
    flex-grow: 0.1;
    margin-top: -20px;
  }

  .grid-projects {
    display: grid;
    grid-template-columns: 0.75fr 0.75fr 0.86fr;
  }

  #whitebg {
    background-image: url('images/whitebg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 370px;
    margin-top: 24px;
  }

  #see-proj-btn {
    width: 369px;
    background-color: #ff6b00;
    border: none;
    padding: 20px;
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 17px;
    color: #fff;
    margin-top: -10px;
  }

  #bg2 {
    background-image: url('images/bg2.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 425px;
    margin-top: 24px;
  }

  #bg3 {
    background-image: url('images/bg3.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 425px;
    margin-top: 24px;
  }

  #bg4 {
    background-image: url('images/bg4.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 425px;
    margin-top: 24px;
  }

  #bg5 {
    background-image: url('images/bg5.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 425px;
    margin-top: 24px;
  }

  #bg6 {
    background-image: url('images/bg6.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 425px;
    margin-top: 24px;
  }

  .About {
    padding: 130px 142px 130px 142px;
  }

  .About h1 {
    font-size: 72px;
  }

  .About p {
    font-size: 20px;
    line-height: 32px;
  }

  .grider {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .group {
    background-image: url('images/Group.png');
    background-repeat: no-repeat;
    height: 353px;
    background-position: right;
    margin-right: -150px;
  }

  .resume {
    margin-bottom: 150px;
  }

  .abilities {
    display: flex;
    margin-top: 144px;
  }

  .myUL li {
    justify-content: left;
  }

  .myUL1 li {
    justify-content: left;
    margin-left: 200px;
  }

  .Skills {
    margin-left: 100px;
  }

  .framework {
    margin-left: 185px;
  }

  #myUL-heading {
    margin-top: -80px;
  }

  .myUL2 li {
    justify-content: left;
    margin-bottom: 40px;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-left: -15px;
  }

  .contact-form {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    padding-left: 140px;
    padding-right: 140px;
    gap: 40px;
  }

  .get {
    justify-content: left;
  }

  .Initials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .name-field {
    width: 95%;
  }

  .contact-me {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  .hamburger,
  .first-page-deco-img,
  .see-project,
  .projects-heading,
  #whitebg h2,
  #whitebg .para,
  .deco-img,
  .line {
    display: none;
  }
}
